/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBiAJpp_c.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBiEJpp_c.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8Jpg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********************************common-styles********************************************************/
body {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.2;
  color: #013a4c;
  font-weight: 400;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
a {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.btn {
  border-radius: 4px;
  align-items: center;
  display: inline-flex;
  color: inherit;
  font: inherit;
  border: initial;
  cursor: pointer;
}
.btn-lg {
  padding: 15px 21px;
}
.btn-sm {
  padding: 11px 17px;
}
.btn-micro {
  padding: 6px 8px;
  border: solid 1px transparent;
}
.btn-micro:hover {
  border: solid 1px;
}
.btn-outlined {
  border: solid 1px #346170;
  background: none;
}
.btn-outlined:hover {
  background: #ffd063;
  color: #346170;
}
.btn-primary {
  background: #ffd063;
  color: #013a4c;
  border: #ffd063 solid 1px;
}
.btn-primary:hover {
  border: #013a4c solid 1px;
}
.btn-secondary {
  background: #013a4c;
  color: #ffff;
  border: solid 1px #013a4c;
}
.btn-secondary:hover {
  background: none;
  color: #013a4c;
  border: solid 1px;
}
.text {
  line-height: 1.3;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
.card {
  border-radius: 8px;
}

/***************************common-styles-end**********************************************/
/* **************************header-start**************************************************/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding: 25px 0;
}
.header-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 62px;
}
.header-btn-wrap {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/* **************************header-end**************************************************/
/* ***************************hero-start*************************************************/
.hero {
  padding: 210px 0 310px 0;
  background: url(./img/hero-bg.webp) no-repeat 70% 70% / cover;
}
.hero-box {
  width: 510px;
}
.hero-text {
  font-size: 24px;
  margin-top: 30px;
}
h1 {
  font-size: 76px;
  letter-spacing: 2px;
  margin-bottom: 31px;
}
.hero-btn-wrap {
  margin-top: 25px;
  display: flex;
  gap: 16px;
}
/* ***************************hero-end*************************************************/
/* ****************************promo-start*********************************************/
.promo {
  background: #013a4c;
  color: #ffffff;
  padding: 80px 0 32px 0;
}
.promo-title {
  font-size: 25px;
  text-align: center;
}
.promo-img {
  width: 95px;
  height: auto;
}
.promo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 25px;
}
.promo-subtitle {
  width: 402px;
  font-size: 72px;
  line-height: 1;
  letter-spacing: 0.4px;
}
.promo-text {
  font-size: 21px;
  height: auto;
  margin-top: 38px;
}
.promo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
}
.promo-box {
  width: 530px;
}
.promo-img-lg {
  width: 500px;
  height: auto;
}
.btn-promo {
  margin-top: 19px;
  border: solid 2px #013a4c;
}
.btn-promo:hover {
  border: solid 2px white;
}
/* ****************************promo-end*********************************************** */
/* ****************************collaborate-start*************************************** */
.collaborate {
  background: #013a4c;
  color: #ffffff;
  padding: 150px 180px 107px 107px;
}
.collaborate-container {
  background: #d3e8f4;
  border-radius: 8px;
  color: #013a4c;
}

.collaborate-items {
  display: flex;
  justify-content: space-between;
  padding: 30px 95px;
  border-bottom: 2px solid black;
}
.collaborate-items li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.collaborate-box {
  padding-bottom: 80px;
  width: 545px;
}
.collaborate-title {
  line-height: 1.4;
  font-size: 55px;
  font-weight: 700;
}

.collaborate-text {
  font-size: 21px;
  margin-top: 20px;
}

.collaborate-elements > li::before {
  background: #346170;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: white;
  content: "\2713";
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.collaborate-elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 55px;
}
.collaborate-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  padding-left: 95px;
}
.collaborate-img {
  width: 420px;
  height: 420px;
}
.btn-collaborate {
  margin-top: 32px;
}
/* ****************************collaborate-end******************************************* */
/* ****************************advert-start********************************************** */
.advert {
  background: url(../img/advert.webp) no-repeat 50% 50% / cover;
  width: 100%;
  height: 814px;
}
/* .fa-play{
  width: 60px;
  height: 60px;
  background: #013a4c;
  border-radius: 50%;
  max-width: 0 auto;
 text-align: center;
} */
/*****************************advert-end***********************************************/
/*****************************platform-start********************************************/
.platform {
  width: 100%;
  height: 2442px;
  background: url(../img/platform-bg.webp) no-repeat 50% / cover;
  padding: 122px 0 200px;
}
.title-platform {
  font-size: 80px;
  letter-spacing: 0.7px;
  width: 830px;
  text-align: center;
  margin: 0 auto;
}
.platform-img {
  width: 109px;
  height: 109px;
  background: #013a4c;
  border-radius: 50%;
  padding: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.platform-card {
  width: 520px;
  margin-top: 125px;
}
.platform-subtitle {
  font-size: 47px;
  line-height: 1.1;
  font-weight: 700;
  margin-top: 15px;
}
.platform-text {
  margin-top: 34px;
  font-size: 18px;
}

.btn-platform {
  margin-top: 17px;
}
.platform-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.platform-card:nth-child(even) {
  align-self: flex-start;
}
/*****************************platform-end**********************************************/
/* ***************************believe-start*********************************************/
.believe {
  background: url(../img/believe-bg.webp) no-repeat 50% / cover;
  width: 100%;
  height: auto;
  color: #ffffff;
}
.believe-card {
  width: 624px;
  padding: 300px 0;
}
.believe-title {
  font-size: 73px;
  font-weight: 700;
}
.believe-text {
  font-size: 26px;
  margin-top: 31px;
}
.believe-btn {
  margin-top: 36px;
}
.believe-btn:hover {
  border: solid 1px white;
}
/* ***************************believe-end***********************************************/
/* ****************************feedback-start********************************************/
.feedback {
  color: #013a4c;
  padding: 100px 0;
}
.feedback-wrap {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 56px;
}
.feedback-card {
  border: 1px solid #d6dfe2;
  border-radius: 8px;
  width: 375px;
  height: auto;
  padding: 65px 30px 65px 30px;
}

.feedback-title {
  font-size: 48px;
}
.feedback-titles-wrap {
  line-height: 1.4;
  font-size: 14px;
}

.text-content-elem {
  color: #89285b;
  margin-top: 18px;
  line-height: 1.2;
}
.feedback-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-top: 70px;
}
/* .feedback-card a {
  gap: 20px;
} */

/* ****************************feedback-end********************************************** */
.integration {
  color: #013a4c;
}
.integration-title {
  font-size: 72px;
  line-height: 1.1;
}
.integration-text {
  font-size: 21px;
  margin-top: 30px;
}
.integration-box {
  width: 400px;
}
.integration-btn {
  margin-top: 18px;
}
.integration-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.integration-img {
  width: 560px;
  height: auto;
}
/*********************************blog-start*************************************/
.blog {
  padding: 0 0 50px;
}
.blog-head-title {
  font-size: 48px;
  font-weight: bold;
}
.blog-head {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.post {
  border-radius: 8px;
  overflow: hidden;
  width: calc((100% - 48px) / 3);
  display: flex;
  flex-direction: column;
  min-height: 444px;
}
.post .post-img {
  width: 100%;
  height: 205px;
  object-fit: cover;
}
.post-lg {
  width: 100%;
}
.post-horizontal .post-img {
  width: 50%;
  height: auto;
}
.post-horizontal .post-body {
  width: 50%;
  padding: 52px 35px;
}
.post-horizontal {
  display: flex;
  flex-direction: row-reverse;
}
.post-article {
  background-color: #f2dce4;
}
.post-story {
  background-color: #0f5987;
  text-align: center;
}
.post-story .post-body {
  align-items: center;
}
.post-story .post-body > * {
  margin-bottom: auto;
}
.post-guide {
  background-color: #013a4c;
}
.post-body {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.post-story,
.post-guide {
  color: #fff;
}
.post-capture {
  border-radius: 2px;
  padding: 6px 8px;
  font-size: 11px;
}
.post-article .post-capture {
  background-color: #b73d8b;
  color: #fff;
}
.post-guide .post-capture {
  background-color: #f2dce4;
  color: #013a4c;
}
.post-story .post-capture {
  background-color: #187bb7;
  color: #fff;
}
.post-title {
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: auto;
}
.post-lg .post-title {
  font-size: 48px;
}
.post-story .post-title {
  font-size: 40px;
}
.post-footer {
  font-size: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.btn-post {
  border: solid 1px #fff;
}
/*********************************blog-end***********************************************/
/* *******************************reasons-start*************************************************** */
.reasons {
  padding: 250px 0 70px;
}
.reason-title {
  font-size: 48px;
  font-weight: bold;
}
.reason-img {
  width: 100%;
  height: 315px;
  object-fit: cover;
}
.reson-subtitle {
  font-size: 16px;
  font-weight: 100;
  margin-top: 18px;
}
.reasons-card-text {
  font-size: 31px;
  font-weight: 400;
  letter-spacing: 00.4px;
  margin-top: 20px;
}
.reasons-card {
  width: 560px;
  text-align: center;
}
.reasons-card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.reasons-btn {
  margin-top: 20px;
}
/*********************************reasons-end********************************************************/
.footer {
  padding: 70px 0 300px;
  background: #013a4c;
  color: #fff;
}
.footer-img {
  width: 140px;
  height: auto;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-element {
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-size: 16px;
  font-weight: 400;
}
.footer-element-logo {
  margin-right: 190px;
}
.footer-element{
  color: #99b0b7;
  line-height: 1.3;
}
.footer-element-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.line {
  border-bottom: solid 1.5px #346170;
  margin-top: 72px;
}
.footer-address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 67px;
  line-height: 1.2;
  color: #fff;
}
.footer-title{
  font-style: 16px;
  font-weight: bold;
  color: #fff;
}
.footer-subtitle {
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 48px;
}
.footer-text {
  font-size: 14px;
  line-height: 1.4;
  width: 320px;
  margin-top: 11px;
}
.footer-content-box {
  display: flex;
  gap: 50px;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 17px;
  color: #99b0b7;
}
.btn-footer:hover {
  border: solid 1px #ffffff;
}
.footer-element-last a {
  color: #ffffff;
  width: 110px;
}
